
p{
	font-size: 13px;
}
.p2{
	font-size: 20px;
	line-height: 2;
}
.p3{
	font-size: 18px;
	line-height: 2.5;
}
h1{
	font-size: 35px;
}
.h1Bottom{
	font-size: 30px;
}
h2{
	font-size: 20px;
}
.customH2{
	color: blue;
}
.customH3{
	font-size: 24px;
	color: #FFDD11;
}
table{
	font-size: 30px;
	border-collapse: separate;
	empty-cells: show;
}
button{
	background-color: green;
	color: tan;
	padding: 0px 5px;
}
.button2{
	background-color: green;
	color: tan;
	padding: 0px 5px;
}
.button3{
	background-color: #DCAA2B;
	color: white;
	padding: 0px 5px;
}
.craftingButtons{
	background-color: white;
	width: 150;
	height: 35;
	color: brown;
	padding: 0px 5px;
}
.roundButton{
	width: 8%;
}
.roundButton p {
    display: inline;
	float:left;
	width: 100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top: -.2em;
    
	text-align:center;
	color: yellow;
    font-family:Verdana;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
}
.roundButtonBoss{
	width: 8%;
}
.roundButtonBoss p{
	display: inline;
	float:left;
	width: 100%;
	padding-top:35%;
    padding-bottom:25%;
	line-height:1em;
	margin-top: -.2em;
    
	text-align:center;
	color: orange;
    font-family:Verdana;
    font-size: 16px;
    font-weight:bold;
    text-decoration:none;
}
.round-button-circle{
	width: 65;
	height: 0;
	padding-bottom: 100%;
	border-radius: 50%;
	border: 1px;
	overflow: hidden;
	background: #FF6600;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button-boss{
	width: 65;
	height: 65;
	padding-bottom: 0%;
	border-radius: 50%;
	border: 1px;
	overflow: hidden;
	background: black;
}
.round-button-boss:hover{
	background:red;
}
body{
	background-color: #D2B26F;
	background-repeat: no repeat;
	background-size: cover;
	width: 100%;
    height: 100%;
}
.main-content{
	height:75%;
    width: 45%;
    float: left;
}
.aside{
	height: 75%;
    width: 35%;
    float: left;
}
.farther{
	height: 75%;
	width: 20%;
    float: left; 
}
.wrapperTop, html, body{
    top: 78%;
}
.map{
	width: 45%;
	float: left;
}
.inventory{
	width: 35%;
	float: left;
}
.bank{
	width: 20%;
	float: left;
}
.wrapperBottom, html, body{
	top: 0;
}
.wrapperCrafts{
	height: 65%;
	width: 10%;
	float: left;
}
.wrapperCrafting, html, body{
	top: 10%;
	width: 100%;
}
.levelChart{
	width: 50%;
	padding-top:10%;
	padding-bottom:10%;
	line-height: 50px;
	margin-top: -10px;
	
	text-align: center;
	color: navy;
	font-family: Verdana;
	font-size: 24px;
	font-weight:bold;
	text-decoration:none;
}

.furnace{
  margin:80px auto;
  width: 60px;
  height: 60px;
  position:relative;
  transform-origin:center;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;  
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

#myProgress {
  position: relative;
  width: 40%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}
#label {
  text-align: center;
  line-height: 30px;
  color: white;
}
#canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
